<ul class="dropdown-menu">
  <li><%= link_to "User List", users_path %></li>
  <li><%= link_to "Pending Rivers", pending_path %></li>
  <li><%= link_to "Account Settings", '#' %></li>
  <li> <%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>